.container-social {
   width: 100%;
   max-width: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}

.container-social>a {
   width: 45px;
   height: 45px;
   cursor: pointer;
   z-index: 3;
}

.container-social>a>img {
   width: 100%;
   height: 100%;
}