.bg-gradient-one {
   min-height: 100vh;
   background: var(--bg-gradient-one);
   display: grid;
   place-items: center;
   place-content: center;
   text-align: center;
}

.bg-gradient-one h1 {
   color: var(--title-light);
   font-size: 2.8rem;
   text-align: center;
}

.bg-gradient-one p {
   color: var(--text-light);
   font-size: 1.2rem;
   display: flex;
   gap: 7px;
   z-index: 3;
}

.bg-gradient-one p>span:nth-child(1),
.title-gradient {
   background: var(--title-gradient-one);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   font-weight: 700;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2px;
}

.line-title {
   width: 100%;
   height: 3px;
   border-radius: 10px;
   background: var(--title-gradient-one);
}

.line-title-fine {
   height: 2px;
}

.svg-pc {
   width: 240px;
   min-height: 300px;
   margin: 10px 0;
   z-index: 3;
}

@media (min-width: 768px) {
   .home {
      display: grid;
      grid-template-areas: "h1 img" "p img" "social img";
      column-gap: 2%;
   }

   .bg-gradient-one.home h1 {
      margin: 0 0 -25px 0;
      grid-area: h1;
      align-self: end;
   }

   .bg-gradient-one.home p {
      grid-area: p;
      font-size: 1.1rem;
      margin: -25px 0 -10px 2px;
      justify-self: start;
   }

   .bg-gradient-one p {
      font-size: 1rem;
   }

   .home .container-social {
      grid-area: social;
      width: 100%;
      margin: -20px 0 0 -15px;
      align-self: start;
      justify-content: start;
   }

   .container-social img {
      transition: transform .3s;
   }

   .container-social img:hover {
      transform: translateY(-4px);
   }

   .svg-pc {
      grid-area: img;
      width: 280px;
   }

}