.bg-gradient-one {
   min-height: 100vh;
   background: var(--bg-gradient-one);
   display: grid;
   place-items: center;
   place-content: center;
   text-align: center;
}

.bg-gradient-one h1 {
   color: var(--text-light);
   font-size: 2.8rem;
   text-align: center;
}

.bg-gradient-one p {
   color: var(--text-light);
   font-size: 1.2rem;
   display: flex;
   gap: 7px;
   z-index: 3;
}

.bg-gradient-one p>span:nth-child(1),
.title-gradient {
   background: var(--title-gradient-one);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   font-weight: 700;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2px;
}

.line-title {
   width: 100%;
   height: 3px;
   border-radius: 10px;
   background: var(--title-gradient-one);
}

.line-title-fine {
   height: 2px;
}

.bg-gradient-one>img {
   width: 240px;
   margin: 10px 0;
   z-index: 3;
}