@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Karla', sans-serif;
   font-family: 'Quicksand', sans-serif;
}

:root {
   --bg-gradient-one: linear-gradient(180deg, #090011 0%, #200041 100%);
   --bg-gradient-two: linear-gradient(180deg, #200041 0%, #090011 100%);
   --title-gradient-one: linear-gradient(270deg, #cc00ff 39.82%, #0029FF 132.55%);
   --title-gradient-two: linear-gradient(90deg, #cc00ff 39.82%, #0029FF 132.55%);
   --title-light: #FAF2FF;
   --text-light: #faf2ffc7;
   --text-dark: #0c0016;
   --blue-title-after: #4d19fc;
   --bg-transparent: #4d009918;
}

body::-webkit-scrollbar {
   -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
   width: 10px;
   background-color: #0d001b;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button:decrement {
   display: none;
}

body::-webkit-scrollbar:horizontal {
   background-color: #0d001b;
   height: 10px;
}

body::-webkit-scrollbar-thumb {
   background: #8500a7;
   border-radius: 20px;
   border: 2px solid #0d001b;
}

body::-webkit-scrollbar-track {
   border-radius: 10px;
}

@media (min-width: 768px) {
   html {
      font-size: 1.2rem;
   }
}