.my {
   padding: 80px 0;
}

.container-proyects {
   width: 100%;
   min-height: 100vh;
   max-width: 1000px;
   margin-top: 40px;
   padding: 0 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 50px;
}

.container-proyect {
   width: 100%;
   max-width: 400px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
   justify-content: start;
   background-color: var(--bg-transparent);
   border-radius: 10px;
   -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
   border-left: 1px solid #ffffff07;
   border-bottom: 1px solid #ffffff07;
   padding: 10px;
   text-align: center;
   transition: transform .3s,
      box-shadow .4s,
      opacity .3s;
}

.container-proyect img {
   display: none;
}

.container-proyect h3 {
   font-size: 1.8rem;
   margin-bottom: 15px;
}

.container-proyect p {
   font-size: 1rem;
   margin-bottom: 10px;
}

.container-proyect.hidden {
   opacity: 0;
}

a.title-gradient {
   font-size: 1rem;
   margin-bottom: 10px;
}

@media (min-width: 768px) {
   .my {
      padding: 30px 0;
   }

   .container-proyect img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
   }

   .container-proyect h3 {
      margin-top: 15px;

   }

   .container-proyect img {
      display: block;
   }

   .container-proyect:hover {
      transform: translateY(-3px);
      box-shadow: 0 0 10px #00000086;
   }

   a.title-gradient .line-title {
      opacity: 0;
      width: 0;
      transition: all .3s;
   }

   a:hover .line-title {
      width: 100% !important;
      opacity: 1 !important;
   }
}